{
	"extends": "eslint:recommended",
	"rules": {
		"quotes": [2, "double", {avoidEscape: true, allowTemplateLiterals: true}]
	},
	"env": {
		"es6": true
	},
	"parserOptions": {
		"sourceType": "module"
	}
}
